body,html{
	margin:  0;
	padding: 0;
	/*overflow: hidden;*/
	font-family: 'Open Sans', sans-serif;
}
ul, li{
	list-style: none;
	margin: 0;
	padding: 0;
}

p{
	margin: 0;
}
a{
	cursor: pointer;
}
.button{
	cursor: pointer;
}

h1{
	font-size: 24px;
	text-align: center;
	font-weight: 600;
}
.pad0{
	padding: 0;
}
.padL0{
	padding-left: 0;
}
.padR0{
	padding-right: 0;
}
.main{
	margin: auto;
}

::-webkit-scrollbar {
    width: 4px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
::-webkit-scrollbar-thumb {
  background-color: #000;
  outline: 1px solid #000;
  border-radius: 10px;
}

@-webkit-keyframes fadein {
from { opacity: 0; }
to { opacity: 0.9; }
}

@-webkit-keyframes fadeout {
    from { opacity: 0.9; }
    to { opacity: 0; }
}

.in, .out {
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 1000ms;
    -moz-animation-timing-function: ease-in-out;
    -moz-animation-duration: 1000ms;        
}

.fade.out {
    z-index: -1;
    -webkit-animation-name: fadeout;
    -moz-animation-name: fadeout;
    opacity:0;
    overflow: auto;
}

.fade.in {
    opacity: 0.9;
    z-index: 2;
    -webkit-animation-name: fadein;
    -moz-animation-name: fadein;
}


.group:after{
	content: '';
	display: table;
	clear: both;
}

div.view{
	height: 100%;
}
.zIndex3{
	z-index: 3 !important;
}
.overflowHidden{
	overflow: hidden;
}

#loader{
	height: 100%;
	width: 100%;
	position: relative;
}
#loader img{
	display: block;
	width: 30px;
	height: 30px;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
section{
	min-height: 100vh !important;
	padding-bottom: 40px;
	width: 100%;
	background-attachment: fixed !important;
}

section#banner{
	background: url('../img/site_banner.jpg') no-repeat;
	background-size: cover;
	position: relative;
	animation: 
}
#logo1{
	position: fixed;
	left: -80px;
	top:0;
	z-index: 2;
	animation: slide-left 1s linear 0.3s forwards;
}
#buildingfuture{
	height: 160px;
	position: fixed;
	z-index: 2;
	right: -26px;
	top: 50vh;
	margin-top: -80px;
	animation: slide-right 1s linear 0.3s forwards;
}


@-webkit-keyframes slide-left{
	100%{
		left: 0;
	}
}
@keyframes slide-left{
	100%{
		left: 0;
	}
}
@-webkit-keyframes slide-right{
	100%{
		right: 0;
		/*right: 17px;*/
	}
}
@keyframes slide-right{
	100%{
		right: 0;
	}
}
.menuIcon{
	position: fixed;
	z-index: 2;
	width: 100%;
	text-align: center;
	margin: auto;
	cursor: pointer;
	top: -30px;
	animation: slideTop 1.5s linear 3.3s forwards;
}

.menuIcon span{
	display: block;
    height: 2px;
    width: 80px;
    background: #fff;
    border-radius: 2px;
    margin: auto;
    margin-bottom: 4px;
}
.blackMenuIcon{
	background: #000 !important;
}
@keyframes slideTop {
	100%{
		top: 30px;
	}
}

@-webkit-keyframes slideTop {
	100%{
		top: 30px;
	}
}

.menuWrap{
    height: 100%;
    width: 100%;
    background: #eee;
    z-index: 4;
    position: fixed;
    top: 0;
}

.menuWrap .cancel{
	display: block;
    text-align: center;
    cursor: pointer;
}

.menuWrap .cancel img{
	width: 50px;
	height: 50px;
}

.menuWrap ul{
	padding: 0;
    margin: 0;
    margin: auto;
    width: 400px;
    text-align: center;
    margin-top: 60px;
}

.menuWrap ul li{
	cursor: pointer;
	font-size: 20px;
	text-transform: uppercase;
	padding-bottom: 24px;
    letter-spacing: 5px;
    position: relative;
    color: red;
}

.menuWrap ul li:after{
	content: '';
    width: 45px;
    height: 0px;
    padding-top: 1px;
    background: #000;
    position: absolute;
    top: 34px;
    left: 176px;
}

.active{
	color: red;
}

.active:after{
	width: 60px;
    /*left: 178px;*/
}

.menuWrap ul li.submenu{
	color: #000;
}

.menuWrap ul li.submenu:after{
	width: 30px;
    left: 184px;
}
.noTransform{

 -webkit-animation: none !important;
 -moz-animation: none !important;
 -o-animation: none !important;
 -ms-animation: none !important;
 animation: none !important;
 top: 30px;
}
#banner p{
	color: #fff;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#banner .searchfilter{
	width: 500px;
    margin: auto;
    border: 2px solid #c7c7c7;
    padding: 7px;
    position: absolute;
    left: 50%;
    margin-left: -250px;
    bottom: -50px;
    z-index: -1;
	animation: slideBottom 1.5s linear 3.3s forwards;
}
@-webkit-keyframes slideBottom{
	100%{
		bottom: 120px;
		z-index: 2;
	}
}
@keyframes slideBottom{
	100%{
		bottom: 120px;
		z-index: 2;
	}
}
 .arrow_down{
	position: absolute;
    left: 50%;
    bottom: 30px;
    z-index: 1;
    cursor: pointer;
    -webkit-animation: bounce 1.6s linear 4s forwards infinite;
    animation: bounce 1.6s linear 4s forwards infinite;
}

@-webkit-keyframes bounce{
	100%{
		bottom: 60px;
		/*z-index: 2;*/
	}
}
@keyframes bounce{
	100%{
		bottom: 60px;
		/*z-index: 2;*/
	}
}
.noTransform2{
	-webkit-animation: none !important;
	animation: none !important;
	bottom: 80px !important;
	z-index: 2 !important;
}
.noTransform3{
	animation: none !important;
	bottom: 30px !important;
	z-index: 2 !important;
}
.propertySelections {
	padding: 5px;
	font-size: 14px;
    width: 24%;
    float: left;
    font-weight: 500;
    text-transform: uppercase;
    margin-right: 2px;
}
.searchfilter .searchBtn{
	color: #fff;
	background: red;
	padding: 3px;
    float: left;
    width: 25%;
    text-align: center;
    height: 24px;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 24px;
    font-weight: 600;
}


section#team{
	position: relative;
	background: url('../img/team_banner.jpg') no-repeat;
	background-size: cover;
	overflow-x: hidden;
}
#team .item{
	margin-bottom: 60px;
}


.projectSearch{
	position: absolute;
	top: 0;
	right: 0;
	width: 200px;
	height: 50px;
    background: #d8d4d4;
    padding: 10px;
	z-index: 2;
}
.projectSearch input,  .projectSearch span{
	float: left;
	height: 100%;
}

 .projectSearch input{
	width: 80%;
    padding: 5px;
    font-size: 12px;
    color: #000;
    outline: 0;
}
 .projectSearch span{
	width: 20%;
	background: red;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
}
.content{
	margin: auto;
	padding-top: 60px;
}
#team .main{
	 width: 80%;
}
#team .main .profile{
	width: 50%;
}
#team .main .row{
	margin-top: 30px;
}
.executiveLogo{
	width: 60px;
	height: 80px;
}
.vertical-text {
	writing-mode: tb-rl;
	-webkit-writing-mode: tb-rl;
	/*transform: rotate(90deg);
	transform-origin: left top 0;
	float: left;*/
}
 .tabs{
	border: 1px solid #000;
	width: 320px;
}
 .tabs .list-inline{
	margin-left: 0;
}
.tabs li{
	border-right: 1px solid #000;
	height: 30px;
    line-height: 30px;
    padding: 0 17px;
	text-transform: uppercase;
	float: left;
}
.tabs li:last-child{
	border-right: 0;
}
#team .arrow_down_black{
	/*position: absolute;
	text-align: center;*/
}
 .active_tab{
	background: red;
	color: #fff;
}

#team p{
	font-size: 13px;
}
#project {
	padding: 40px;
}
/*#teamMobile {
	display: none;
}*/
#arrowDownMobile{
		display: none;
}

@media only screen and (max-width: 767px){
	
	.menuIcon{
		width: auto;
		right: 10px;
	}
	.menuIcon span{
		width: 40px;
	}
	.menuWrap .cancel {
	    display: inline-block;
	    text-align: center;
	    float: right;
	    margin-right: 10px;
	    margin-top: 20px;
	}
	.menuWrap .cancel img {
	    width: 30px;
	    height: 30px;
	}
	.menuWrap ul li{
		font-size: 14px;
	}
	#logo1{
		width: 40px;
		height: 40px;
	}
	#arrowDown{
		display: none;
	}
	#arrowDownMobile{
		display: block;
	}
	#buildingfuture{
		max-width: 26px;
		height: 100px;
		top: 50vh;
		margin-top: -50px;
	}
	
	#banner .searchfilter{
		display: none;
	}
	section#team{
		min-height: 200px;
	}
	#team .main{
		width: 100%;
	}
	#teamMobile {
		display: block;
		background: url('../img/team_banner.jpg') no-repeat;
		background-size: cover;
		
	}
	.projectSearch{
		position: static;
		float: right;
	}
	.menuWrap li{
		font-size: 16px;
	}
	
	.content{
		padding: 15px;
	}
	.tabs{
		width: 100%;
		margin: 30px 0px;
	}
	.tabs.list-inline{
		display: block;
		margin: 0 auto;
	}
	.tabs li{
		font-size: 14px;
		width: 33.33%;
		text-align: center;
	}
	.owl-theme .owl-controls .owl-page span {
	    background: red;
	}
	
}
@media only screen and (min-width: 768px) and (max-width: 980px){
	#team .main {
	    width: 100%;
	}
}
