<div full-page>
	<section id="banner" class="section">
		<img ng-src="{{img.src}}" alt="img.title" ng-repeat="img in images" id="{{img.title}}">
		<div class="menuIcon" ng-click="showMenu()">
			<span></span>
			<span></span>
			<span></span>
		</div>
		
		<p class="fadeIn">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet ipsum doloremque fugit, dolorum nesciunt itaque adipisci maxime hic soluta, molestiae fugiat possimus eos neque. Corporis dolorem, provident earum eveniet cum, beatae error dignissimos possimus voluptas nobis adipisci.</p>
		
		<div class="searchfilter" ng-hide="menu">
			<p>Coming Soon</p>
			<!-- <div class="propertySelections" id="type">

			</div>
			<div class="propertySelections"></div>
			<div class="propertySelections"></div> -->
		
			<!-- <span class="searchBtn">Search</span> -->
		</div>
		
		<div class="arrow_down">
			<a href="#team" scroll-to id="arrowDown"><img src="img/down_arrow.png" alt="Down Arrow"></a>
			
		</div>
		
	</section>
	<div class="menuWrap fade" ng-show="menu">
		<a ng-click="closeMenu()" class="cancel"><img src="img/cancel.png"></a>
		<ul>
			<li ng-class="{'active': isActive}" ng-click="selectMenu()">Corporate</li>
			<li ng-class="{'active': isActive}" class="submenu" ng-click="selectMenu()">Mission</li>
			<li ng-class="{'active': isActive}" class="submenu" ng-click="selectMenu()">Expertise</li>
			<li ng-class="{'active': isActive}" class="submenu" ng-click="selectMenu()">Sustainability</li>
			<li ng-class="{'active': isActive}" class="submenu" ng-click="selectMenu()">Team</li>
			<li ng-class="{'active': isActive}" class="submenu" ng-click="selectMenu()">Awards</li>
			<li ng-class="{'active': isActive}" ng-click="selectMenu()">Project</li>
			<li ng-class="{'active': isActive}" ng-click="selectMenu()">Contact</li>
			<li ng-class="{'active': isActive}" ng-click="selectMenu()">Careers</li>
		</ul>
	</div>
	<section id="team" class="group" class="section">
			<div class="projectSearch">
				<div class="input-grp group">
					<input type="text" placeholder="PROJECT NAME">
					<span class="fa fa-search button" aria-hidden="true"></span>
				</div>
			</div>
			<div class="content">
				<h1>Executive</h1>

				<div class="main group">
					<!-- <div class="row group"> -->
						<div class="col-sm-6 pull-left item">
							<div class="col-xs-5 col-sm-5 col-md-4 padR0">
								<div class="col-xs-8 col-sm-8">
									<div><img src="img/executive_logo.png" class="executiveLogo"></div>
								</div>
								<div class="col-xs-4 col-sm-4 pad0"><p class="vertical-text">Subhash Sanghvi, Managing Director<br/>Bachelor of Commerce</p></div>
							</div>
							<div class="col-xs-7 col-sm-7 col-md-8 padL0"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis libero sit veritatis voluptas et inventore odit illo velit delectus officiis, sapiente esse, vel necessitatibus harum sed, expedita natus dicta labore! Placeat quae illum voluptatem quidem rerum. Eum dolore quas, at, non veritatis tempora vero mollitia aliquam omnis, nulla architecto nihil.</p></div>
						</div>
						<div class="col-sm-6 pull-right item">
							<div class="col-xs-5 col-sm-5 col-md-4 padR0">
								<div class="col-xs-8 col-sm-8"><img src="img/executive_logo2.png" alt="" class="executiveLogo"></div>
								<div class="col-xs-4 col-sm-4 pad0"><p class="vertical-text">Subhash Sanghvi, Managing Director<br/>Bachelor of Commerce</p></div>
							</div>
							<div class="col-xs-7 col-sm-7 col-md-8 padL0">	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis libero sit veritatis voluptas et inventore odit illo velit delectus officiis, sapiente esse, vel necessitatibus harum sed, expedita natus dicta labore! Placeat quae illum voluptatem quidem rerum. Eum dolore quas, at, non verit</p></div>
						</div>
					<!-- </div> -->
					<!-- <div class="row group"> -->
						<div class="col-sm-6 pull-left item">
							<div class="col-xs-5 col-sm-5 col-md-4 padR0">
								<div class="col-xs-8 col-sm-8">
									<div><img src="img/executive_logo1.png" class="executiveLogo"></div>
								</div>
								<div class="col-xs-4 col-sm-4 pad0"><p class="vertical-text">Subhash Sanghvi, Managing Director<br/>Bachelor of Commerce</p></div>
							</div>
							<div class="col-xs-7 col-sm-7 col-md-8 padL0"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis libero sit veritatis voluptas et inventore odit illo velit delectus officiis, sapiente esse, vel necessitatibus harum sed, expedita natus dicta labore! Placeat quae illum voluptatem quidem rerum. Eum dolore quas, at, non veritatis tempora vero mollitia aliquam omnis, nulla architecto nihil.</p></div>
						</div>
						<div class="col-sm-6 pull-right item">
							<div class="col-sm-5 col-md-4 padR0">
								<div class="col-xs-8 col-sm-8"><img src="img/executive_logo3.png" alt="" class="executiveLogo"></div>
								<div class="col-xs-4 col-sm-4 pad0"><p class="vertical-text">Subhash Sanghvi, Managing Director<br/>Bachelor of Commerce</p></div>
							</div>
							<div class="col-xs-7 col-sm-7 col-md-8 padL0"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis libero sit veritatis voluptas et inventore odit illo velit delectus officiis, sapiente esse, vel necessitatibus harum sed, expedita natus dicta labore! Placeat quae illum voluptatem quidem rerum. Eum dolore quas, at, non verit</p></div>
						</div>
					<!-- </div> -->
				</div>
				<div class="tabs col-sm-offset-8 col-sm-3 pad0">
					<ul class="list-inline group">
						<li>Team</li>
						<li class="active_tab">Executive</li>
						<li>Management</li>
					</ul>
				</div>
				<div class="col-sm-1"><a href="#banner" scroll-to class="scrollTop pull-right"><img src="img/scroll_to_top.png" alt=""></a></div>
			</div>
			<div class="arrow_down arrow_down_black">
				<a href="#project" scroll-to><img src="img/down_arrow_black.png" alt="Down Arrow"></a>
			</div>
				
	</section>
	<!-- <section id="teamMobile" class="group" class="section">

			<div class="content">
				<h1>Executive</h1>
				<div class="tabs">
					<ul class="list-inline group">
						<li>Team</li>
						<li class="active_tab">Executive</li>
						<li>Management</li>
					</ul>
				</div>
				<div class="slider">
					<ul class="owl-carousel">
						<li ng-repeat="item in slider">
							{{item.content}}
						</li>
					</ul>
					
				</div>
			</div> -->
	</section>

</div>